stages:
  - docker
  - container_scanning
  - test

include:
 - project: 'sandlin/gitlab/pipeline-fragments'
   ref: 'tags/dind_19.03.12'
   file: 'dind_service.yml'

# Normally, we would just include the container scanning yml.
#   However, it is hard coded for a single run per pipeline.
#   Therefore, rather than using the template we must custom implement the YML.
#       It would be: - template: Security/Container-Scanning.gitlab-ci.yml
# SRC URL:
#       https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Jobs/Container-Scanning.gitlab-ci.yml


{% for ds in docker_src_list %}
{{ ds.name }}_img:
  stage: docker
  extends: .dind_service
  script:
    - cd {{ ds.path }}
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  {% if CI_COMMIT_BRANCH is defined and CI_COMMIT_BRANCH != CI_DEFAULT_BRANCH %}
    - |
        export CI_APPLICATION_REPOSITORY=${CI_APPLICATION_REPOSITORY:-$CI_REGISTRY_IMAGE}
        export image_tagged="$CI_APPLICATION_REPOSITORY/{{ ds.name }}:{{ ds.version }}"
    - docker build --pull --build-arg VERSION={{ ds.version }} . --tag "$image_tagged"
  {% else %}
    - |
        export CI_APPLICATION_REPOSITORY=${CI_APPLICATION_REPOSITORY:-$CI_REGISTRY_IMAGE}
        export image_tagged="$CI_APPLICATION_REPOSITORY/{{ ds.name }}:{{ ds.version }}"
        export image_latest="$CI_APPLICATION_REPOSITORY/{{ ds.name }}:latest"
    - docker build --pull --build-arg VERSION={{ ds.version }} . --tag "$image_tagged" --tag "$image_latest"
    - docker push "$image_latest"
  {% endif %}
    - docker push "$image_tagged"
  {% if CI_COMMIT_BRANCH is defined and CI_COMMIT_BRANCH != CI_DEFAULT_BRANCH %}
  artifacts:
    expire_in: 1 week
  {% endif %}
  rules:
    - changes:
        - src/{{ ds.name }}/*
        - templates/artifact_gitlab_ci.yml.j2
        - generate_ci_yml.py
# only:
  #   refs:
  #     - groot

# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Jobs/Container-Scanning.latest.gitlab-ci.yml
{% if CI_COMMIT_BRANCH is defined and CI_COMMIT_BRANCH != CI_DEFAULT_BRANCH %}
{{ ds.name }}_scan:
  image: "$CS_ANALYZER_IMAGE$CS_IMAGE_SUFFIX"
  extends: .dind_service
  stage: container_scanning
  
  variables:
    # To provide a `vulnerability-allowlist.yml` file, override the GIT_STRATEGY variable in your
    # `.gitlab-ci.yml` file and set it to `fetch`.
    # For details, see the following links:
    # https://docs.gitlab.com/ee/user/application_security/container_scanning/index.html#overriding-the-container-scanning-template
    # https://docs.gitlab.com/ee/user/application_security/container_scanning/#vulnerability-allowlisting
    GIT_STRATEGY: none
    SECURE_LOG_LEVEL: 'debug'
    DOCKER_IMAGE: "$CI_APPLICATION_REPOSITORY/{{ ds.name }}:{{ ds.version }}"
    CS_ANALYZER_IMAGE: "$CI_TEMPLATE_REGISTRY_HOST/security-products/container-scanning:5"

  allow_failure: true
  {# artifacts:
    reports:
      container_scanning: gl-container-scanning-report.json
    paths: [gl-container-scanning-report.json] #}
  needs: ["{{ ds.name }}_img"]
  script:
  {% if CI_COMMIT_BRANCH is defined and CI_COMMIT_BRANCH != CI_DEFAULT_BRANCH %}
    - |
        export CI_APPLICATION_REPOSITORY=${CI_APPLICATION_REPOSITORY:-$CI_REGISTRY_IMAGE}
        export image_tagged="$CI_APPLICATION_REPOSITORY/{{ ds.name }}:{{ ds.version }}"
  {% else %}
    - |
        export CI_APPLICATION_REPOSITORY=${CI_APPLICATION_REPOSITORY:-$CI_REGISTRY_IMAGE}
        export image_tagged="$CI_APPLICATION_REPOSITORY/{{ ds.name }}:{{ ds.version }}"
        export image_latest="$CI_APPLICATION_REPOSITORY/{{ ds.name }}:latest"
  {% endif %}
    - gtcs scan
  rules:
    - changes:
        - src/{{ ds.name }}/*
        - templates/artifact_gitlab_ci.yml.j2
        - generate_ci_yml.py
{% endif %}
{% endfor %}
